<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Add new abnormality</title>
<!-- link rel="stylesheet" href="/styles/bootstrap.css"-->
</head>
<body>
<div class="container" style="display: center;">
<form class="form-group" id="addForm" name="addForm" method="POST" th:action="@{/add}" th:object="${abnormality}" onsubmit="return validateForm()">
<fieldset>
	<legend>Add new abnormality</legend>	
	<div class="form-group">
		<label for="age" > Woman age: </label>
		<input type="number" class="form-control" id="age" name="age" th:field="*{age}" th:required="true"> <br>
	</div>
	<div class="form-group">
		<label for="brast">Breast: </label> 
		<input type="text" class="form-control" id="breast" name="breast" th:field="*{breast}" th:required="true">
	</div> 
	<div class="form-group">
		<label for="breastPosition">Select breast position: </label> 
		<select class="form-control" name="breastPosition">
			<option th:each="breastPosition : ${breastPositions}" th:value="${breastPosition.type}" th:text="${breastPosition.type}"></option>
		</select> 
	</div>
	<br>
	<div class="form-group">
		<label for="brastPositionDescription">Breast position description: </label> 
		<input type="text" class="form-control" id="breastPositionDescription" name="breastPositionDescription" th:field="*{breastPositionDescription}" th:required="false">
	</div> 
	<div class="form-group">
		<label for="breastGlandularity">Select breast glandularity: </label> 
		<select class="form-control" name="breastGlandularity">
			<option th:each="breastGlandularity : ${breastGlandularities}" th:value="${breastGlandularity.type}" th:text="${breastGlandularity.type}"></option>
		</select> 
	</div>
	<br>
	<div class="form-group">
		<label for="brastGlandularityDescription">Breast glandularity description: </label> 
		<input type="text" class="form-control" id="breastGlandularityDescription" name="breastGlandularityDescription" th:field="*{breastGlandularityDescription}" th:required="false">
	</div> 
	<div class="form-group">
		<label for="brastThickness">Breast thickness: </label> 
		<input type="number" class="form-control" id="breastThickness" name="breastThickness" th:field="*{breastThickness}" th:required="false">
	</div> 
	<div class="form-group">
		<label for="size">Size: </label> 
		<input type="number" class="form-control" id="size" name="size" th:field="*{size}" th:required="false">
	</div>
	<div class="form-group">
		<label for="screenDetected">Screen detected: </label> 
		<input type="radio" class="form-control" id="screenDetected" name="screenDetected" th:value="yes" th:field="*{screenDetected}" > Yes
		<br>
		<input type="radio" class="form-control" id="screenDetected" name="screenDetected" th:value="no" th:field="*{screenDetected}" > No
		<br>	
	</div>  
	<div class="form-group">
		<label for="palpable">Palpable: </label> 
		<input type="radio" class="form-control" id="palpable" name="palpable" th:value="yes" th:field="*{palpable}" > Yes
		<br>
		<input type="radio" class="form-control" id="palpable" name="palpable" th:value="no" th:field="*{palpable}" > No
		<br>	
	</div> 
	<div class="form-group">
		<label for="cancerType">Select cancer type: </label> 
		<select class="form-control" name="cancerType">
			<option th:each="cancerType : ${cancerTypes}" th:value="${cancerType.type}" th:text="${cancerType.type}" th:required="true"></option>
		</select> 
	</div>
	<br>
	<div class="form-group">
		<label for="cancerTypeDescription">Cancer type description: </label> 
		<input type="text" class="form-control" id="cancerTypeDescription" name="cancerTypeDescription" th:field="*{cancerTypeDescription}" th:required="false">
	</div> 
	<div class="form-group">
		<label for="shape">Select shape: </label> 
		<select class="form-control" name="shape">
			<option th:each="shape : ${shapes}" th:value="${shape.type}" th:text="${shape.type}" th:required="false"></option>
		</select> 
	</div>
	<br>
	<div class="form-group">
		<label for="shapeDescription">Shape description: </label> 
		<input type="text" class="form-control" id="shapeDescription" name="shapeDescription" th:field="*{shapeDescription}" th:required="false">
	</div> 
	<div class="form-group">
		<label for="modality">Select modality: </label> 
		<select class="form-control" name="modality">
			<option th:each="modality : ${modalities}" th:value="${modality.type}" th:text="${modality.type}" th:required="false"></option>
		</select> 
	</div>
	<br>
	<div class="form-group">
		<label for="geneticScore">Select genetic score: </label> 
		<select class="form-control" name="geneticScore">
			<option th:each="geneticScore : ${geneticScores}" th:value="${geneticScore.description}" th:text="${geneticScore.description}" th:required="false"></option>
		</select> 
	</div>
	<br>
	<div class="form-group">
		<label for="malignancyScore">Select malignancy score: </label> 
		<select class="form-control" name="malignancyScore">
			<option th:each="malignancyScore : ${malignancyScores}" th:value="${malignancyScore.description}" th:text="${malignancyScore.description}" th:required="false"></option>
		</select> 
	</div>
	<br>
	<div class="form-group">
		<label for="vendor">Select vendor: </label> 
		<select class="form-control" name="vendor">
			<option th:each="vendor : ${vendors}" th:value="${vendor.type}" th:text="${vendor.type}" th:required="false"></option>
		</select> 
	</div>
	<div class="form-group">
		<label for="image">Insert image: </label> 
		<input type="file" class="form-control" id="image" name="image" th:field="*{image}" th:required="false">
	</div> 
	
	<input type="submit" class="btn btn-primary btn-lg" value="Save">
	</fieldset>
</form>
</div>
</body>
</html>