<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login page</title>
<link rel="stylesheet" href="/styles/bootstrap.css">
</head>

<body style="overflow: hidden" oncontextmenu="return false">
<div class="container" style="display: center; margin-top: 200px;">
<form name="loginForm" class="form-group" method="POST" th:action="@{/login}" onsubmit="return validateForm()">
<fieldset>
    <legend>Log in</legend>
	<div class="form-group">
		<label for="username" > Username: </label>
		<input type="text" class="form-control" id="username" name="username" required> <br>
	</div>
	<div class="form-group">
		<label for="password"> Password: </label>
		<input type="password"  class="form-control" id="password "name="password" required> <br>
	</div>
	<input type="submit"  value="Login" class="btn btn-primary btn-lg">
</fieldset>
</form>

</div>

<script>
	function validateForm() {
	    var username = document.forms["loginForm"]["username"].value;
	    var password = document.forms["loginForm"]["password"].value;
	    if (username == "" || password == "") {
	        alert("Please fill in all fields.");
	        return false;
	    }
	}
	
</script>
</body>
</html>