<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>Register page</title>
<link rel="stylesheet" href="/styles/bootstrap.css">
</head>

<body oncontextmenu="return false">
	<div class="container" style="display: center; margin-top: 10px;">
		<form  class="form-group" id="registerForm" name="registerForm" method="POST" th:action="@{/register}" th:object="${user}" onsubmit="return validateForm()">
		<fieldset>
		  <legend>Register new user</legend>			
			<p th:text="${registeredSuccessfully}" th:unless="${registeredSuccessfully == null}">The user have been registered successfully.</p>
			<div class="form-group">
			<label for="username"> Username: </label>
			<input type="text" class="form-control" id="username" name="username" th:field="*{username}">
			<p th:text="${userExists}" th:unless="${userExists == null}">Username exists.</p>
			</div>			
			<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Invalid username</p>
			<div class="form-group">
			<label for="password">Password: </label> 
			<input type="password" class="form-control" id="password" name="password" th:field="*{password}" required>
			</div> 
			<div class="form-group">
			<label for="role">Select role: </label> 
			<select class="form-control" name="role">
				<option th:each="role : ${roles}" th:value="${role.description}" th:text="${role.description}" th:required="true"></option>
			</select> 
			</div>
			<br>
			<input type="submit" class="btn btn-primary btn-lg" value="Register">
			</fieldset>
		</form>
	</div>

<!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script-->	
<script type="text/javascript">
	
	function validateForm() {
	    var username = document.forms["registerForm"]["username"].value;
	    var password = document.forms["registerForm"]["password"].value;
	    
	    if (username == "" || password == "" ) {
	        alert("Please fill in all fields.");
	        return false;
	    }
	}

</script>
</body>
</html>